*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}


#header{
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#vinheta{
    position: absolute;
    width: 100%;
    height:20rem;
    background-image: url(/assets/vinheta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

img{
    height: 2.5rem;
    margin-left: 7rem;
    z-index: 1;
}

#buttonLanguage{
        background-color:transparent;
        height: 1.7rem;
        width:8rem;
        border-radius: 5px;
        border: 1px solid white;
        transition: 0.8s;
        margin-left: 62%;
        z-index: 1;
}

#buttonLanguage:hover{
    opacity: 0.8;
    transition: 0.2s;
    cursor:pointer;
}

#login{
    background-color: red;
    height: 1.7rem;
    width:4.3rem;
    border-radius: 5px;
    border: none;
    transition: 0.8s;
    margin-left: 1rem;
    z-index: 1;
}

#login:hover{
    opacity: 0.8;
    transition: 0.2s;
    cursor:pointer;
}

#container-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-image: url(/assets/indexbackground.png);
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-items: center;
}

#containerForNewsletter{
    width: 40vw;
    height: auto;
    margin-top: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerForNewsletter h1{
    font-family: Arial;
    font-weight:900;
    font-size: 3rem;
    text-justify: center;
    text-align: center;
    line-height: 3.7rem;
}

#containerForNewsletter h2{
    font-family: Arial;
    font-size: 1rem;
    text-justify: center;
    text-align: center;
    line-height: 3.7rem;
}

#containerForNewsletter h3{
    font-family: Arial;
    font-size: 0.8rem;
    text-justify: center;
    text-align: center;
    line-height: 3.7rem;
}

#emailNewsletter{
    height: 2.7rem;
    width: 20rem;
    background-color:rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 5px;
}

#emailNewsletter::placeholder{
    font-weight: bold;
    padding-left: 1rem;
    color: #bababa;
}

#newsletterSubscribe{
    background-color: red;
    height: 2.7rem;
    width: 10rem;
    border-radius: 5px;
    border: none;
    transition: 0.8s;
    font-size: 1.2rem;
    font-weight: bold;
}

#newsletterSubscribe:hover{
        opacity: 0.8;
        transition: 0.2s;
        cursor:pointer;
    }

#backgroundSaibaMais{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }

#backgroundSaibaMais img{
    margin: auto;
    width: 50vw;
    height: 50px;
    width: 100vw;
}

#saibaMais {
    width: 75vw;
    height: 3.5rem;
    margin: auto;
    border-radius: 13px;
    background-image: url(/assets/backgroundForPopcornSection.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5.5rem;
    padding-top: 0.8rem;
    opacity: 0.8;
    scale: 1;
    transition: 0.4s;
}

#saibaMais h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

#saibaMais:hover{
    opacity: 1;
    transition: 0.4s;
    scale: 1.03;
}

#buttonSaibaMais{
    background-color: gray;
    color: whitesmoke;
    height: 1.7rem;
    width: 5rem;
    border-radius: 5px;
    border: none;
    margin-left: 52rem;
    position: absolute;
    margin-top: -1.75rem;
    transition: 0.3s;
}

#buttonSaibaMais:hover{
    cursor:pointer;
    opacity:0.8;
    transition:0.2s;
}

#restanteSite{
    grid-row: 3;
    padding-top: 5rem;
    height: 1000px;
    background-color: black;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerSeletores{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}
.seletor{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    height: 2.5rem;
    width: 6rem;
}

#top10{
    margin-top: 1rem;
    width: 80vw;
    height: 16rem;
    overflow-x: scroll;
    display: flex;
    background-color: black;
    gap: 1rem;
}

.topmovie{
    height: 90%;
    width: 11rem;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}

#movie1{
    background-image: url(/assets/top10movies/1.png);
}
#movie2{
    background-image: url(/assets/top10movies/2.png);
}
#movie3{
    background-image: url(/assets/top10movies/3.png);
}
#movie4{
    background-image: url(/assets/top10movies/4.png);
}
#movie5{
    background-image: url(/assets/top10movies/5.png);
}
#movie6{
    background-image: url(/assets/top10movies/6.png);
}
#movie7{
    background-image: url(/assets/top10movies/7.png);
}
#movie8{
    background-image: url(/assets/top10movies/8.png);
}
#movie9{
    background-image: url(/assets/top10movies/9.png);
}
#movie10{
    background-image: url(/assets/top10movies/10.png);
}

#maisMotivosParaAssinar{
    height: auto;
    width: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#maisMotivosParaAssinar h2{
    margin-bottom: 1rem;
    align-self: flex-start;
}

#containerForMotivos{
    width: auto;
    height: 20rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

#motivo1{
    background-image: url(/assets/mais-motivos/aproveite.png);
}
#motivo2{
    background-image: url(/assets/mais-motivos/baixe.png);
}
#motivo3{
    background-image: url(/assets/mais-motivos/olnde\ quiser.png);
}
#motivo4{
    background-image: url(/assets/mais-motivos/for\ kids.png);
}

.motivos{
    height: 100%;
    width: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}